.file-storage {
	// .file-storage__list

	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		column-gap: 16px;
		margin-bottom: 0;
	}

	// .file-storage__item

	&__item {
		padding: 16px;
		border-radius: 8px;
		position: relative;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--bg);
			}
		}
	}

	// .file-storage__link

	&__link {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	// .file-storage__icon

	&__icon {
		&::before {
			content: "";
			width: 80px;
			height: 80px;
			background-size: 80px 80px;
			margin-right: 0;
		}
	}

	// .file-storage__name

	&__name {
	}
	&__dropdown-btn {
		position: absolute;

		top: 8px;
		right: 6px;

		.dropdown-search__btn {
			&::before {
				width: 20px;
				height: 20px;
				background-size: 20px 20px;
			}
		}
	}
}
