.list-input {
	// .list-input__item

	&__item {
		display: flex;
		align-items: center;
		column-gap: 10px;

		&:not(:last-child) {
			margin-bottom: 4px;
		}
	}

	// .list-input__label

	&__label {
		margin: 0 !important;
		min-width: 112px;
	}

	// .list-input__wrraper-input

	&__wrapper-input {
		flex: 0 1 300px;
		&_w-small {
			flex: 0 1 auto;
		}
	}

	// .list-input__select

	&__select {
	}

	&__del-btn {
		display: flex;
		align-items: center;
	}
	&__butt-plus {
		display: flex;
		justify-content: center;
		padding: 8px 75px;
	}
}
li.todo-list {
	overflow: hidden;

	&__item {
		border: none;
		background-color: var(--c-white);
		& .handle {
			margin-right: 16px;
			margin-left: 0;
		}
		& ._icon-darag {
			&::before {
				transform: translate(0px, 2px);
				margin-right: 0;
			}
		}
	}
}
.ui-sortable-placeholder.stage-highlight {
	background-color: var(--bg);
	height: 40px;
	border-radius: 8px;
	border: 0;
	margin: 22px 0;
}
.ui-sortable-placeholder.position-highlight {
	background-color: var(--bg);
	height: 30px;
	border-radius: 8px;
	border: 0;
	margin: 12px 0;
	box-shadow: inset 0 0px 20px #10293827;
}
.todo-list {
	overflow: hidden !important;

	// .todo-list__item
	&__wrapper {
		// max-width: 1060px;
	}
	&__item {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		border-radius: 8px !important;
		background-color: var(--c-white);
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	// .todo-list__contetn
	&__contetn {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		background-color: #fff;
	}
}
.todo-list > li {
	padding: 16px;
}
.accordion {
	width: 100%;
	display: flex;
	flex-direction: column;
	box-shadow: none;
	margin-bottom: 0;

	// .accordion__item

	&__header {
		width: 100%;
		display: flex;
		align-items: center;
		column-gap: 16px;
	}
	&__body {
		padding: 0;
	}
	&__header-content {
		// max-width: 965px;
		display: flex;
		column-gap: 48px;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		color: var(--c-black);
	}
	// .accordion__name

	&__name {
		line-height: 1.15;
		flex: 0 1 61.450777%; /* 593/965 */
	}
	&__select {
		display: flex;
		align-items: center;
		font-size: 16px;
		flex: 0 1 18.031088%; /* 174/965 */
	}
	&__name-select {
		margin: 0;
		transform: translate(0px, -1px);
	}
	&__btn {
		&::before {
			content: "";
			background: url("../img/icons/arrowAccordion.svg") 0 0 / contain no-repeat;
			width: 16px;
			height: 24px;
			display: inline-block;
			transform: rotate(0deg);
		}

		.collapsed-card &::before {
			transform: rotate(-90deg);
		}
	}
	&__checkbox {
	}
	&__del-btn {
		flex: 0 1 10.466321%; /* 101/965 */
		display: flex;
		justify-content: flex-end;
		&_small {
			flex: 0 1 auto;
		}
	}
}
.list-accordion {
	// .list-accordion__head

	&__head,
	&__item {
		display: grid;
		grid-template-columns: 1.606426% 1.606426% 2.710843% 5.02008% 44.678715% 5.62249% 4.819277% 8.433735% 8.032129% 1.606426%;
		column-gap: 16px;
		text-wrap: nowrap;
		background-color: var(--c-white) !important;
		border: none !important;

		padding: 8px 0;
	}
	&__item {
		padding: 0 !important;
		color: var(--c-black) !important;
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}
	&__head {
		font-family: var(--font-RF);
		margin-bottom: 16px;
		margin: 16px 0;
		color: var(--c-gray-3) !important;
		font-size: 14px;
	}

	&__name {
		overflow: hidden;
		text-overflow: ellipsis;
		@media (any-hover: hover) {
			&:hover {
				overflow: visible;
				text-wrap: wrap;
			}
		}
	}
}

.footer-list {
	margin-top: 16px;
	display: flex;
	justify-content: space-between;
	color: var(--c-black);
	&__btn-add-item {
		display: flex;
		align-items: center;

		font-size: 14px;
		line-height: 1.35;
		background-color: var(--bg);
		padding: 4px 12px;
		border-radius: 4px;
	}
	&__sum {
		font-weight: 700;
	}
}
.tooltip-smeta {
	display: flex;
	justify-content: center;
	column-gap: 16px;
	position: fixed;
	bottom: 0;
	width: calc(100% - 298px);
	right: 0;
	margin: 24px;
	z-index: 1000;
	box-shadow: 0px 6px 40px rgba(0, 60, 92, 0.14);
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease 0s;
	&._show-tooltipSmeta {
		opacity: 1;
		visibility: visible;
	}
}
.tooltip-margin-bottom {
	margin-bottom: 70px;
}
