:where(
		._icon-sidebar-arrow,
		._icon-search,
		._icon-dashboard,
		._icon-priceList,
		._icon-client,
		._icon-pattern,
		._icon-calendar,
		._icon-close,
		._icon-folder,
		._icon-arrow-back,
		._icon-imp-data,
		._icon-plus,
		._icon-template,
		._icon-user,
		._icon-file,
		._icon-clipboard,
		._icon-image
	) {
	&::before {
		content: "";
		background-repeat: no-repeat;
		background-position: 0 0;
		display: inline-block;
	}
}
:where(
		._icon-dashboard,
		._icon-priceList,
		._icon-client,
		._icon-pattern,
		._icon-folder,
		._icon-plus,
		._icon-template,
		._icon-user,
		._icon-file,
		._icon-clipboard,
		._icon-image
	) {
	&::before {
		margin-right: 8px;
		transform: translateY(3px);
		width: 16px;
		height: 16px;
	}

	.sidebar-collapse &::before {
		margin-right: 0;
		margin-left: 5px;
	}
}
._icon-sidebar-arrow {
	&::before {
		background-image: url("../img/icons/arrowSaidbar.svg");
		width: 30px;
		height: 20px;
		transition: all 0.3s ease 0s;
	}

	.sidebar-collapse &::before {
		transform: rotate(-180deg);
	}
}
._icon-search {
	&::before {
		background-image: url("../img/icons/iconSearch.svg");
		width: 20px;
		height: 20px;
	}
}

._icon-dashboard {
	&::before {
		background-image: url(../img/icons/iconDashbord.svg);
	}
}
._icon-priceList {
	&::before {
		background-image: url(../img/icons/iconPriceList.svg);
	}
}

._icon-client {
	&::before {
		background-image: url(../img/icons/iconClient.svg);
	}
}
._icon-pattern {
	&::before {
		background-image: url(../img/icons/iconPatter.svg);
	}
}
._icon-calendar {
	&::before {
		background-image: url(../img/icons/iconCalendar.svg);
		width: 20px;
		height: 20px;
		transform: translateY(6px);
	}
}
._icon-close {
	&::before {
		background-image: url(../img/icons/iconClose.svg);
		background-position: 50% 50%;
		width: 20px;
		height: 20px;
	}
}

._icon-folder {
	&::before {
		background-image: url("../img/icons/iconFolder.svg");
	}
}
._icon-template {
	&::before {
		background-image: url("../img/icons/iconTemplate.svg");
	}
}
._icon-file {
	&::before {
		background-image: url("../img/icons/iconFile.svg");
	}
}
._icon-clipboard {
	&::before {
		background-image: url("../img/icons/iconClipboard.svg");
	}
}
._icon-image {
	&::before {
		background-image: url("../img/icons/iconImage.svg");
	}
}
._icon-arrow-back {
	margin-right: 8px;
	&::before {
		background-image: url(../img/icons/arrowBack.svg);

		width: 24px;
		height: 24px;
	}
}
._icon-imp-data {
	&::before {
		background: url("../img/icons/iconImpData.svg") 0 0 no-repeat;
		width: 16px;
		height: 16px;

		margin-left: 8px;
	}
}
._icon-plus {
	&::before {
		background: url("../img/icons/iconPlusWhite.svg") 0 0 no-repeat;

		transform: translate(0px, 0px);
	}
}

._icon-user {
	&::before {
		background: url("../img/icons/iconUser.svg") 0 0 no-repeat;
	}
}
._icon-darag {
	position: relative;
	display: inline-block;
	margin-right: 16px;
	width: 16px;
	height: 16px;

	&::before,
	&::after {
		content: "";
		width: 16px;
		height: 16px;
		position: absolute;
		top: 0;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	&::before {
		background-image: url(../img/icons/IconDrag.svg);
	}

	&::after {
		content: "";
		background: url("../img/icons/IconHoverDrag.svg") 0 0 no-repeat;
		opacity: 0;
		top: 2px;
		visibility: hidden;
	}
	@media (any-hover: hover) {
		&:hover {
			&::after {
				opacity: 1;
				visibility: visible;
			}
			&::before {
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
