@use "sass:math";
@import url("https://fonts.googleapis.com/css?family=Roboto+Flex:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Onest:regular,500,600,700&display=swap");

:root {
	--font-RF: "Roboto Flex";
	--font-Onset: "Onest";
	--c-white: #fff;
	--c-black: #102938;
	--c-green: #0db25a;
	--c-hover-green: #009e61;
	--c-gray-1: #ced8e3;
	--c-gray-2: #b3bdc8;
	--c-gray-3: #92a1b1;
	--gray-4: #dbe5f0;
	--bg: #f0f4f9;
	--bg-completed: #c9f8de;
	--c-completed: #009b48;
	--bg-inProgress: #008ddb33;
	--c-inProgress: #0067a0;
	--bg-cancelled: #dbe5f0;
	--c-cancelled: #566575;
	--bg-postponed: #ffe992;
	--c-postponed: #d38500;
	--bg-mar-category: #ffeaa9;
	--bg-rab-category: #cff8c9;
	--bg-meh-category: #c6edff;
	--bg-doc-category: #c6c6ff;
}
// Подключение миксинов ===========================================================================================================================================================================================================================================================================

// Подключение шрифтов ===========================================================================================================================================================================================================================================================================
//&display=swap - добавить при подключении через плагин
// Подключить если есть локальные файлы шрифтов
//@import "fonts/fonts";
// Подключение иконочных шрифтов ==============================================================================================================================================================================================================================================================================
// Подключить если есть файл иконочного шрифта
//@import "fonts/icons";

// Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: var(--font-Onset);
$fontSize: 16px; // где 14(px) - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: var(--c-black); // Цвет шрифта по умолчанию

// НАСТРОЙКИ ===============================================================================================================================================================================================================================================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;

// Брейк-поинты

$tablet: 991.98px; // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: 767.98px; // Телефоны L
$mobileSmall: 479.98px; // Телефоны S

// Обнуление и общие параметры ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================

body {
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}
}
// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	width: 100%;
	background-color: var(--bg);
	overflow: hidden;
	position: relative;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}
